[Desktop Entry]
Name=Helwan Compress
Comment=أداة ضغط وفك ضغط متعددة الخوارزميات مع تشفير AES-256
Exec=hel-gui
Icon=hel-compress
Terminal=false
Type=Application
Categories=Utility;Archiving;
MimeType=application/zip;application/x-7z-compressed;application/x-rar;application/x-tar;application/gzip;application/x-bzip2;application/x-xz;application/zstd;application/x-compressed-tar;
StartupNotify=true
