[Desktop Entry]
Name=Helwan Compress
Comment=أداة ضغط وفك ضغط متعددة الخوارزميات مع تشفير AES-256
Exec=hel-compress-gui
Icon=hel-compress
Terminal=false
Type=Application
Categories=Utility;Archiving;
StartupNotify=true
